{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Reset Password{% endblock title %}
{% block content %}

    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-4">
                                            <h5 class="text-primary"> 비밀번호 초기화</h5>
                                            <p>Reset Password with POMSYS.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0"> 
                                <div>
                                    <a href="{% url 'dashboard' %}">
                                        <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static 'images/logo.png' %}" alt=""  height="34">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                
                                <div class="p-2">
                                    <div class="alert alert-success text-center mb-4" role="alert">
                                        계정 이메일을 입력해주세요, 비밀번호를 초기화하는 링크를 메일로 보내드립니다.
                                    </div>
                                    <form class="form-horizontal" method="post">
                                     {% csrf_token %}
                                        {% for message in messages %}
                                                <div class="alert alert-danger mb-4" role="alert">
                                                    <strong>{{ message }}</strong>
                                                </div>
                                        {% endfor %} 
                                        <div class="mb-3">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                    
                                        <div class="d-grid">
                                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">비밀번호 초기화하기</button>
                                        </div>
    
                                    </form>
                                </div>
            
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <p>기억이 나시나요? <a href="{% url 'account_login' %}" class="fw-medium text-primary"> 로그인하기</a> </p>
                            <p>© 2022 폼시스 </i> by 포엠에듀</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endblock content %}
