<a href="javascript: void(0);" class="text-reset notification-item">
    <div class="d-flex">
        <div class="avatar-xs me-3">
            <span class="avatar-title bg-primary rounded-circle font-size-16">
                <i class="bx bx-cart"></i>
            </span>
        </div>
        <div class="flex-grow-1">
            <h6 class="mb-1" key="t-your-order">Your order is placed</h6>
            <div class="font-size-12 text-muted">
                <p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
            </div>
        </div>
    </div>
</a>